__history/
__recovery/
*.exe
*.dcu
*.xml
*.xls
*.pdf
*.dsk
*.local
*.identcache
*.projdata
*.tvsconfig
*.~*
*.dll
*.bpl
*.bpi
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.dsk
*.stat
*.mp4